html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-image: url("arena.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

canvas {
  display: block;
  background: transparent;
}